{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {# 
            urgente hacer un template con la barra e incluirlo
            usar path para las rutas
        #}
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked"  >
                <li><a href="/solicitudes">SOLICITUDES</a></li>
                <li><a href="/turnos/panel">TURNOS </a></li>
                <li><a href="/menus consumidos/panel">TARJETAS </a></li>
                <li><a href="/administracion/panel">MENUS CONSUMIDOS</a></li>
                <li><a href="/ventas/panel">VENTAS</a></li>
                <li class="active"><a href="/comedor/panel">COMEDOR</a></li>
                <li><a href="#">SALIR</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="row">
                <div class="col lg-6 col-md-6">
                    <p></p>
                    {% block resumen %}
                        {{ include('Panel ingreso comedor/resumen.html.twig') }}
                    {% endblock %}
                    {% block botonesResumen %}
                        {{ include('Panel ingreso comedor/botonesResumen.html.twig') }}
                    {% endblock %}
                </div>
                <div class="col lg-6 col-md-6">
                    {% block datosComensal %}
                        {{ include('Panel ingreso comedor/datosComensal.html.twig') }}
                    {% endblock %}
                    {% block botonesIdentificacion %}
                        {{ include('Panel ingreso comedor/botonesIdentificacion.html.twig') }}
                    {% endblock %}
                    {% block buscar %}
                        {{ include('Panel ingreso comedor/buscar.html.twig') }}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            {# reutilizo las funcionalidades de menu para exportar  a pdf xls #}
            {% include 'scripts/panel menus consumidos/menus_exportar.twig.js' %}
        </script>
    {% endblock %}    
{% endblock%}