{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked"  >
                <li class="active"><a href="{{path('solicitudes')}}">SOLICITUDES</a></li>
                <li><a href="{{path('turnos_panel')}}">TURNOS </a></li>
                <li><a href="{{path('tarjetas_panel')}}">TARJETAS </a></li>
                <li><a href="{{path('administracion_panel')}}">MENUS CONSUMIDOS</a></li>
                <li><a href="{{path('logout')}}">SALIR</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="row" id="tablaEstilo">
                <div class="col-lg-12 col-md-12">
                    {% block filtros %}
                        {{ include('Panel solicitudes/filtros.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    {% block botones %}
                        {{ include('Panel solicitudes/botones.html.twig') }}
                    {% endblock %}   
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    {% block tabla %}
                        {{ include('Panel solicitudes/tabla.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col lg-12 col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    <p> </p>
                    {% block busqueda %}
                        {{ include('Panel solicitudes/busqueda.html.twig') }}
                    {% endblock %}
                </div>
              </div>
            </div>
        </div>
        {% include 'Panel solicitudes/modal/eliminarSolicitud.html.twig' %}
        {% include 'Panel solicitudes/modal/fichaSolicitante.html.twig' %}
        {% include 'Panel solicitudes/modal/rechazarSolicitud.html.twig' %}
        {% block javascripts %}
            {% include 'Panel solicitudes/camaraScript.html.twig' %}
            {% include 'Panel solicitudes/calendarioScript.html.twig' %}
        {% endblock %}
{% endblock %}                               
